
.fruit-dsiplay {
    display:flex;
    flex-direction: column;
    width: 200px;
    margin-top: 2em;
    margin-bottom: 2em;
}
.fruit {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    width: 10em;
    background-color: antiquewhite;
}
.add-remove {
    display:flex;
    flex-direction: row;
    margin-top: 1em;
}

.cart {
    font-size: 2rem;
    color: green;
}