html {
    background-color: white;
}
.application-head {
    background-color: white;
    height: 8em;
}
.main-content {
    margin-top: 8em;
}
.fruitHeader {
    margin-top: 8em;
    margin-bottom: 2em;
}
.header-area {
    background-color: white;
}
